

.header{
  font-family: Helvetica;
  font-size:80px;
  font-weight:bold;
  text-align:center;
  background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  color:khaki;
}

.brushes,.frames,.paint{
  font-family: Helvetica;
  font-size:50px;
  font-weight:bold;
  color:white;
  }
  .brushes{
  background-color:mediumspringgreen;

 }
.frames{
   background-color:lightcoral;
}
.paint{
  background-color:skyblue;
}
 em{
  color:blue;
  font-family:Helvetica;
  font-weight:bold;

}
p{
  font-size:30px;
}
h3{
  font-size:50px;
}
